<!-- Display Username, phone numbers, active plans -->
<div>
  <h1>Hello *username*</h1>
  <table>
    <tr>
      <th>Phone Number</th>
      <th>Phone Plan</th>
    </tr>
    <tr>
      <td>Phone Number Data</td>
      <td>Phone Plan Data</td>
    </tr>
    <tr>
      <td>Phone Number Data</td>
      <td>Phone Plan Data</td>
    </tr>
    <tr>
      <td>Phone Number Data</td>
      <td>Phone Plan Data</td>
    </tr>
    <tr>
      <td>Phone Number Data</td>
      <td>Phone Plan Data</td>
    </tr>
  </table>
  <button>Toggle View</button>
  <button>Edit</button>
</div>
