h1,
h2,
h3,
h4,
h5,
h6 {
  color: beige;
  margin: 8px 0;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black; 
}

p {
  color: beige;
  margin: 0;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black;
}