<div class="outher">
  <div class="container">
    <div class="content-area">
      <main>
        <h1>Our Plans</h1>

        <div class="row justify-content-md-center">
          <div class="content-area">
            <section>
              <img src="../../assets/Mobile-Towers.jpeg" />
              <h3>Gold Plan</h3>
              <h4>10 line available</h4>
              <ul>
                <ng-container
                  *ngFor="let activeDescriptor of plan.plan.activeDescriptors"
                >
                  <li>Lorem ipsum dolor sit amet.</li>
                </ng-container>
              </ul>
            </section>

            <section>
              <img src="../../assets/Mobile-Towers.jpeg" />
              <h3>Platinium Plan</h3>
              <h4>5 line available</h4>
              <ul>
                <ng-container
                  *ngFor="let activeDescriptor of plan.plan.activeDescriptors"
                >
                  <li>Lorem ipsum dolor sit amet.</li>
                </ng-container>
              </ul>
            </section>
            <section>
              <img src="../../assets/Mobile-Towers.jpeg" />
              <h3>Bronze Plan</h3>
              <h4>1 line available</h4>
              <ul>
                <ng-container
                  *ngFor="let activeDescriptor of plan.plan.activeDescriptors"
                >
                  <li>Lorem ipsum dolor sit amet.</li>
                </ng-container>
              </ul>
            </section>
          </div>
        </div>
      </main>
    </div>
    <div class="container">
      <div class="card">
        <div class="card-header"><b>Active Plans</b></div>
        <div class="card-body">
          <table class="table table-striped table-hover table-bordered">
            <thead>
              <tr>
                <th>Name</th>
                <th>Device Limit</th>
                <th>Price</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody *ngFor="let currentPlan of currentPlansList">
              <tr>
                <td>planName</td>
                <td>deviceLimit</td>
                <td>planPrice</td>
                <td>
                  <button
                    style="display: block; margin: auto"
                    class="btn btn-outline-danger"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="16"
                      fill="currentColor"
                      class="bi bi-trash3-fill"
                      viewBox="0 0 16 16"
                    >
                      <path />
                    </svg>
                  </button>
                </td>
              </tr>
            </tbody>
            <tr>
              <td><b>Totals</b></td>
              <td>
                <b>totalDevices</b>
              </td>
              <td>
                <b>$ total </b>
              </td>
              <td></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
