<div class="outher">
  <div class="container">
    <div class="content-area">
      <main>
        <h1>Our Plans</h1>

        <div class="row justify-content-md-center">
          <div class="content-area">
            <section>
              <img src="../../assets/Mobile-Towers.jpeg" />
              <h3>Gold Plan</h3>
              <h4>10 line available</h4>
              <ul>
                <ng-container
                  *ngFor="let activeDescriptor of plan.plan.activeDescriptors"
                >
                  <li>Lorem ipsum dolor sit amet.</li>
                </ng-container>
              </ul>
            </section>

            <section>
              <img src="../../assets/Mobile-Towers.jpeg" />
              <h3>Platinum Plan</h3>
              <h4>5 line available</h4>
              <ul>
                <ng-container
                  *ngFor="let activeDescriptor of plan.plan.activeDescriptors"
                >
                  <li>Lorem ipsum dolor sit amet.</li>
                </ng-container>
              </ul>
            </section>
            <section>
              <img src="../../assets/Mobile-Towers.jpeg" />
              <h3>Bronze Plan</h3>
              <h4>1 line available</h4>
              <ul>
                <ng-container
                  *ngFor="let activeDescriptor of plan.plan.activeDescriptors"
                >
                  <li>Lorem ipsum dolor sit amet.</li>
                </ng-container>
              </ul>
            </section>
          </div>
        </div>
      </main>
    </div>
  </div>
</div>
