main {
  display: grid;
  grid-template-columns: auto 264px;
  grid-template-rows: 60px auto;
}
.content-area {
  margin-top: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: ;
}

h1 {
  grid-area: 1 / 1 / span 1 / span 1;
  background-size: 110% 100%;
  padding: 12px 0px 10px 45px;
  color: #b0ba9e;
  margin-bottom: 0px;
  margin-left: 45px;
}

article {
  grid-area: 2 / 1 / span 1 / span 1;
  padding: 0px 45px;
}

table {
  width: 100%;
  margin: 24px 0px;
  margin-right: 45px;
  margin-left: 45px;
  padding: 8px 24px;
  background-color: #f5f5dc;
  opacity: 0.7;
  border-radius: 10px;
  border: solid 1px rgba(0, 0, 0, 0.2);
  border-spacing: 0px;
  text-align: left;
}

th,
td {
  padding: 12px 0px;
}

th {
  font-size: 18px;
  color: #9e9c86;
}

th:first-of-type {
  width: 100%;
}

td {
  border-top: 1px solid gray;
  font-weight: bold;
}

td > ul {
  margin: 8px 0px 4px 48px;
  font-size: 14px;
  font-weight: normal;
}

td > ul > li {
  font-style: italic;
  margin-bottom: 4px;
}

td > ul > li > span {
  font-style: normal;
}

td > ul > li > span:last-of-type {
  color: #969480;
}

td > ul > ul {
  margin: 0px 0px 10px 30px;
  font-style: italic;
}

td > span {
  display: block;
  font-size: 15px;
  margin: 10px 0px 0px 32px;
  color: #969480;
}

td ~ td ul {
  list-style-type: none;
}

th:last-of-type,
td:last-of-type {
  text-align: right;
}

tr:last-of-type {
  font-size: 18px;
  font-weight: bold;
  font-style: italic;
  color: #b0ad96;
}

app-sidebar {
  grid-area: 1 / 2 / span 2 / span 1;
}
