<div class="content-area">
  <main>
    <h1>Bill Details</h1>
    <article>
      <table>
        <tr>
          <th>Plan Name</th>
          <th>Price</th>
        </tr>
        <tr>
          <td>
            <ul>
              <li><span>Line 1 — </span><span>(786)-2011606</span></li>
              <li><span>Line 2 — </span><span>(786)-2011606</span></li>
              <li><span>Line 3 — </span><span>(786)-2011606</span></li>
              <li>Additional Service Fee</li>
              <li>Federal & State Tax (%5)</li>
            </ul>
            <span>TOTAL</span>
          </td>
          <td>
            <ul>
              <ul>
                <li>$19</li>
              </ul>
              <ul>
                <li>$19</li>
              </ul>
              <ul>
                <li>$19</li>
              </ul>
              <li>$7.88</li>
              <li>$3.24</li>
            </ul>
            <span>$68.12</span>
          </td>
          <br />
          <br />
          <br />
        </tr>
      </table>
    </article>
  </main>
</div>
