<!-- angular has it's own way of routing -->
<!-- any route output it output to the router outlet -->

<nav ngbNav class="nav-tabs">
  <div class="background"></div>
  <ul>
    <li>
      <a [routerLink]="['/home']">Home</a>
    </li>


    <li class="dropdown">
      <a [routerLink]="['/account']">Account</a>
    </li>

    <li class="dropdown-content">
      <a [routerLink]="['/account/settings']">Account Settings</a>
    </li>

    <li class="dropdown-content">
      <a [routerLink]="['/account/billing']">Account Billing</a>
    </li>
    
    <li>
      <a [routerLink]="['/plans']">Plans</a>
    </li>

    <li>
      <a [routerLink]="['/phoneNumbers']">Phone Numbers</a>
    </li>

    <li>
      <a [routerLink]="['/devices']">Devices</a>
    </li>
    <li class = "right">
      <a [routerLink]="['/login']">Login</a>
    </li>
  </ul>
</nav>

<!--
<div>
  <nav ngbNav class="nav-tabs">
    <ng-container ngbNavItem>
      <a class="nav-link" [routerLink]="['/home']">Home</a>
    </ng-container>

    <ng-container ngbNavItem>
      <a class="nav-link" [routerLink]="['/account']">Account</a>
    </ng-container>

    <ng-container ngbNavItem>
      <a class="nav-link" [routerLink]="['/account/settings']">Account Settings</a>
    </ng-container>

    <ng-container ngbNavItem>
      <a class="nav-link" [routerLink]="['/account/billing']">Account Billing</a>
    </ng-container>

    <ng-container ngbNavItem>
      <a class="nav-link" [routerLink]="['/plans']">Plans</a>
    </ng-container>

    <ng-container ngbNavItem>
      <a class="nav-link" [routerLink]="['/phoneNumbers']">Phone Numbers</a>
    </ng-container>

    <ng-container ngbNavItem>
      <a class="nav-link" [routerLink]="['/devices']">Devices</a>
    </ng-container>

    <ng-container ngbNavItem>
      <a class="nav-link" [routerLink]="['/login']">Login</a>
    </ng-container>
  </nav>
</div>
-->